@import "../../../styles/mixins.scss";


.swiper-btns {
    width: max-content;
    position: relative;
    left: 50%;
    top: -39px;
    background-color: rgba(168, 144, 144, 0.7);
    padding: 10px;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;

    button {
        border-radius: 50%;
        @include square(12);
        background-color: #5c5e62;
        margin-left: 10px;

        transition: 0.3s;

        &:first-child {
            margin-left: 0;
        }
    }

    .activator-btn {
        background-color: #FFFFFF;
    }

    .swiper-btn-active {
        position: absolute;
        background-color: #FFFFFF;
    }
}