.ready {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 20px;
    @media (max-width: 810px) {
        padding: 60px 20px;
    }

    &_text {
        color: #FFFFFF;
        margin: auto;
        font-family: "Zilla Slab";
        line-height: 1.5em;
    }

    &_btn {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        font-family: sans-serif;
        background-color: #FFFFFF;
        font-size: 14px;
        color: rgb(34, 34, 59);
        font-family: "Zilla Slab";
        font-weight: 400;

        @media (max-width: 810px) {
            width: 100%;
        }
    }
}